Source: mdbtools
Section: database
Priority: optional
Maintainer: Jean-Michel Vourgère <nirgal@debian.org>
Build-Depends: autoconf,
               automake (>= 1:1.10),
               bison | byacc,
               debhelper-compat (= 13),
               flex,
               libglib2.0-dev,
               libncurses5-dev | libncurses-dev,
               libreadline-dev,
               libtool,
               txt2man,
               unixodbc-dev
Build-Conflicts: autoconf2.13
Standards-Version: 4.6.0
Rules-Requires-Root: no
Homepage: https://github.com/mdbtools/mdbtools
Vcs-Browser: https://salsa.debian.org/debian/mdbtools
Vcs-Git: https://salsa.debian.org/debian/mdbtools.git

Package: mdbtools
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: bash-completion
Description: JET / MS Access database (MDB) tools
 These are various tools for manipulating JET / MS Access database (MDB) files:
  * utils     - provides command line utilities to list tables, export schema,
                and data, show file versions, and other useful stuff.
  * mdb-sql   - a command line SQL tool that allows one to type SQL queries and
                get results.

Package: mdbtools-dev
Architecture: any
Multi-Arch: same
Section: devel
Depends: libglib2.0-dev,
         libmdb3 (= ${binary:Version}),
         libmdbsql3 (= ${binary:Version}),
         odbc-mdbtools (= ${binary:Version}),
         ${misc:Depends}
Description: mdbtools development files
 Utilities for reading MS Access database (MDB) files
 .
 These are development files for mdbtools, needed to build applications
 with it.

Package: libmdb3
Architecture: any
Multi-Arch: same
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Core library for accessing JET / MS Access (MDB) files
 Core library for accessing JET / MS Access database (MDB) files
 programmatically.
 .
 Allows one to use MDB files with PHP for example.

Package: libmdbsql3
Architecture: any
Multi-Arch: same
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: mdbtools SQL library
 Libraries built on libmdb to provide a SQL engine for reading
 JET / MS Access database (MDB) files.
 .
 See mdb-sql util in mdbtools package.

Package: odbc-mdbtools
Architecture: any
Multi-Arch: same
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}, odbcinst
Recommends: libodbc1
Breaks: libiodbc2 (<< 3.52.7-2+deb7u1),
        libmdbodbc1 (<< 0.7.1-1~),
        odbcinst1debian2 (<< 2.2.14p2-3),
        unixodbc (<< 2.2.14p2-3)
Replaces: libmdbodbc1 (<< 0.7.1-1~)
Description: MDB tools ODBC driver
 This is the software driver to access JET / MS Access database (MDB) files
 through ODBC.
 This also contains the installation interface for unixodbc.

Package: mdbtools-doc
Architecture: all
Multi-Arch: foreign
Section: oldlibs
Depends: ${misc:Depends}, libmdb3
Description: Dummy package
 This is a transitional package. It can safely be removed.
 .
 See package libmdb3 documentation.
